
* {
    font-family: 'Righteous', Helvetica, sans-serif;
    

}
main{
    background-image:url(../assets/img/fondo_alternativo_2_Mesa_de_trabajo_1.jpg);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbarBg{
    background: -webkit-radial-gradient(rgb(22, 135, 237), rgb(9, 65, 122));
    background: radial-gradient(rgb(22, 135, 237), rgb(9, 65, 122));
}
    


.textoFooter{
    font-weight: bold;
    color: #f7fff7;
}
.footerContainer{
    background: -webkit-radial-gradient(rgb(22, 135, 237), rgb(9, 65, 122));
    background: radial-gradient(rgb(22, 135, 237), rgb(9, 65, 122));
}

.iconosFooter{
    display: flex;
    justify-content: space-evenly;
}


.iconoRedes:hover{
    transform: scale(1.2);
}
.logoRollingvet{
    max-width: 20em;
    margin-left:auto;
}

.logoRollingvet:hover{
    transform:scale(1.2);
    transition: 2ms;
}
.iconoContacto{
    margin-right: 1em;
}
.listaContactos{
    text-align: center;
    list-style: none;
    margin-left: auto;
}

.ladoIzq{
    background-color: #02be9d;
 }
 
 .ladoDer{
    background-image:url(../assets/img/fondo_alternativo_2_Mesa_de_trabajo_1.jpg);
 }
 
 
 .logoHorizontal{
     max-width: 46vw;
     margin-top: 10vw;
 }
 .numero404{
 font-size: 18vw;
 }
 .texto404{
    font-size: 4vw;
 }
 .boton404{
     margin-top: 4vw;
 }
 .numero404:hover{
    transform: scale(1.1);
    color: #02be9d;
 }

 .fondoGeneral{
    background-image:url(../assets/img/fondo_alternativo_2_Mesa_de_trabajo_1.jpg);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.botonEnviar{
    margin-bottom: 2em;
    border-style: none;
}

.cardsPromo{
    color: #02be9d;
}

.cuadroComentarios{
    margin-top:4em;
}

.textoComentarios{
    color:blue;
}

.botonModal{
    margin-left: 1rem;
}

.movimiento:hover {-webkit-transform:scale(1.02);transform:scale(1.02);
    z-index: 1;
    transition: 300ms;
    }