*{
    font-family: 'Righteous', cursive;
    font-family: 'Roboto Mono', monospace;
}

.textoFooter{
    font-weight: bold;
    color: #f7fff7;
}
.footerContainer{
    background-color:#02be9d;
}
.iconosFooter{
    display: flex;
    justify-content: space-evenly;
}


.iconoRedes:hover{
    transform: scale(1.2);
}
.logoRollingvet{
    max-width: 20em;
    margin-left:auto;
}

.logoRollingvet:hover{
    transform:scale(1.2);
    transition: 2ms;
}
.iconoContacto{
    margin-right: 1em;
}
.listaContactos{
    text-align: center;
    list-style: none;
    margin-left: auto;
}