
.ladoIzq{
   background-color: #02be9d;
}

.ladoDer{
   background-image:url(./assets/img/fondo_alternativo_2_Mesa_de_trabajo_1.jpg);
}


.logoHorizontal{
    max-width: 46vw;
}
.numero404{
font-size: 20vw;
}
.texto404{
   font-size: 4vw;
}

.numero404:hover{
   transform: scale(1.2);
}